page-login {
  .background-image {
    background-image: url('./../../assets/imgs/logo.png');
    background-position: center;
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: 70%;
  }

  .signup {
    margin-top: 105%;
  }
}
