broadcast {
  .center {
    text-align: center;
  }
  .header {
    font-size: 150%;
  }
  .bold {
    font-weight: bold;
  }
  .members {
    margin-top: 1.5%;
  }
  .album-avatar {
    width: 64px;
    height: 64px;
  }
}
