<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img class="album-avatar" src="https://i.scdn.co/image/cba1a22ac5719b187564a82397cd088cdc543fcd">
    </ion-avatar>
    <h2>By <span class="i">{{ this.broadcaster }}</span></h2>
    <p><ion-icon name="musical-notes"></ion-icon><span> {{ this.currentSong }}</span></p>
  </ion-item>

  <ion-row>
    <ion-col></ion-col>
    <ion-col col-5>
      <button ion-button icon-left round full color="light">
        <ion-icon name="person-add"></ion-icon>
        <div>join</div>
      </button>
    </ion-col>
    <ion-col col-6 class="members">
      <button ion-button icon-left clear small color="dark">
        <ion-icon name="people"></ion-icon>
        <div>{{ this.membersCount }} members</div>
      </button>
    </ion-col>
  </ion-row>

  <ion-row>

  </ion-row>
</ion-card>
